:root {
  --primary-font: 'Montserrat', sans-serif;
  --background-color: #84a178;
  --text-light: #fcfcfc;
  --text-dark: #131313;
  --text-copyright: #7a7a7a;
  --accent-1: #9cbe8f;
  --accent-1-secondary: #aec6a5;
  --accent-1-light: #96af8c;
  --accent-2: #f8d24e;
  --accent-2-secondary: #efd478;
  --accent-3: #d5753f;
  --accent-3-secondary: #d6936d;
  // BUTTONS COLORS
  --button-font: 'Montserrat', sans-serif;
  --active: #f8d24e;
  --focus: #fcfcfc;
  --disabled: #ababab;
  --hover: #0a8817;
  --slider-disabled: #d9d9d9;
  // TRANSITIONS
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
