<section class="section about-section">
  <div class="container about-container">
    <p class="about__label">Tradition and love</p>
    <h2 class="section-title about-section-title_color-light">
      How it's made?
    </h2>
    <div class="about-description">
      <p class="about-description__paragraph">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about-description__paragraph">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <p class="about-description__paragraph">
        This is enough to choose ice cream and coffee for any mood!
      </p>
    </div>
    <button class="button about__btn">
      Read more<svg class="about__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-greater-sign"></use>
      </svg>
    </button>
  </div>
</section>
