<div class="backdrop is-hidden" data-about-modal>
  <div class="modal about-modal">
    <button type="button" class="modal__close-btn" data-about-modal-close>
      <svg width="16" height="16" aria-label="Закрити">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="about-modal__title">How it’s made?</p>
    <div class="about-modal__video-wrapper">
      <iframe
        class="responsive-iframe"
        src="https://www.youtube.com/embed/rog8ou-ZepE"
      ></iframe>
    </div>
    <p class="about-modal__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
