<section class="advantages-section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item advantages__item_cow">
        <p class="advantages__item-number">721</p>
        <p class="advantages__item-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item_dumble">
        <p class="advantages__item-number">
          16<span class="switch-to-lowercase">KG</span>
        </p>
        <p class="advantages__item-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item_icecream">
        <p class="advantages__item-number">84</p>
        <p class="advantages__item-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
