<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list contacts_list">
      <!-- CAFE -->

      <li class="contacts__thumb">
        <p class="contacts__pre-title">CAFE</p>
        <h3 class="contacts__title">Chicago</h3>
        <p class="contacts__aft-title">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
        <div class="constacts__line"></div>
        <ul class="list">
          <li class="contacts__date">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__date">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="constacts__line"></div>
        <address class="contacts__adr">
          <ul class="list">
            <li class="contacts__item">
              <a class="contacts__link" href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__item">
              <a class="contacts__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>

      <!--FOOD TRUCK-->

      <li class="contacts__thumb">
        <p class="contacts__pre-title">FOOD TRUCK</p>
        <h3 class="contacts__title">Los Angeles</h3>
        <p class="contacts__aft-title">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
        <div class="constacts__line"></div>
        <ul class="list">
          <li class="contacts__date">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__date">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="constacts__line"></div>
        <address class="contacts__adr">
          <ul class="list">
            <li class="contacts__item">
              <a class="contacts__link" href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__item">
              <a class="contacts__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>

      <!-- CAFE.2 -->

      <li class="contacts__thumb">
        <p class="contacts__pre-title">CAFE</p>
        <h3 class="contacts__title">New York</h3>
        <p class="contacts__aft-title">
          726 Sterling Pl, Brooklyn, NY 11222, USA
        </p>
        <div class="constacts__line"></div>
        <ul class="list">
          <li class="contacts__date">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__date">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="constacts__line"></div>
        <address class="contacts__adr">
          <ul class="list">
            <li class="contacts__item">
              <a class="contacts__link" href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__item">
              <a class="contacts__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>

    <!-- BUTTONS -->

    <ul class="btn__contacts-list">
      <li class="btn__contacts-item">
        <button class="button btn__contacts">
          Our Locations
          <svg
            class="btn__contacts--arrow-icon"
            width="12"
            height="12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m4 2 4.95 4L4 10"
              stroke="#131313"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </li>
      <li class="btn__contacts-item">
        <button class="button-with-border btn__contacts">
          Franchise
          <svg
            class="btn__contacts--arrow-icon"
            width="12"
            height="12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m4 2 4.95 4L4 10"
              stroke="#131313"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
        </button>
      </li>
    </ul>
  </div>
</section>

