<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul>
      <!-- CAFE -->

      <li>
        <p>CAFE</p>
        <h3>Chicago</h3>
        <p>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
        <div>
          <ul>
            <li>Monday - Friday</li>
            <li>06:00 AM - 10:00 PM</li>
            <li>Saturday - Sunday</li>
            <li>08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <div>
          <address>
            <ul>
              <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
              <li>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </address>
        </div>
      </li>

      <!--FOOD TRUCK-->

      <li>
        <p>FOOD TRUCK</p>
        <h3>Los Angeles</h3>
        <p>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
        <div>
          <ul>
            <li>Monday - Friday</li>
            <li>06:00 AM - 10:00 PM</li>
            <li>Saturday - Sunday</li>
            <li>08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <div>
          <address>
            <ul>
              <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
              <li>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </address>
        </div>
      </li>

      <!-- CAFE.2 -->

      <li>
        <p>CAFE</p>
        <h3>New York</h3>
        <p>726 Sterling Pl, Brooklyn, NY 11222, USA</p>
        <div>
          <ul>
            <li>Monday - Friday</li>
            <li>06:00 AM - 10:00 PM</li>
            <li>Saturday - Sunday</li>
            <li>08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <div>
          <address>
            <ul>
              <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
              <li>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </address>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <button>
          Our Locations
          <svg>
            <use></use>
          </svg>
        </button>
      </li>
      <li>
        <button>
          Franchise
          <svg>
            <use></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
