<section class="customer-reviews-section">
    <h2 class="visually-hidden">Customer reviews</h2>
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="swiper-slide__reviewer-photo" src="https://picsum.photos/200" alt="customer's photo">
                <div class="swiper-slide__review-container">
                    <p class="swiper-slide__review-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful
                    serving, cozy atmosphere and polite staff.
                    </p>
                </div>
                <p class="swiper-slide__reviewer-text">Emily, Los Angeles
                </p>
            </div>
            <div class="swiper-slide">
                <img class="swiper-slide__reviewer-photo" src="https://picsum.photos/200" alt="customer's photo">
                <div class="swiper-slide__review-container">
                    <p class="swiper-slide__review-text">
                        Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
                    </p>
                </div>
                <p class="swiper-slide__reviewer-text">Bryan, New-York
                </p>
            </div>
            <div class="swiper-slide">
                <img class="swiper-slide__reviewer-photo" src="https://picsum.photos/200" alt="customer's photo">
                <div class="swiper-slide__review-container">
                    <p class="swiper-slide__review-text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always
                        served politely and quickly!
                    </p>
                </div>
                <p class="swiper-slide__reviewer-text">Diana, Chicago</p>
            </div>
            <div class="swiper-slide">
                <img class="swiper-slide__reviewer-photo" src="https://picsum.photos/200" alt="customer's photo">
                <div class="swiper-slide__review-container">
                    <p class="swiper-slide__review-text">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.
                    </p>
                </div>
                <p class="swiper-slide__reviewer-text">Sam, Los Angeles
                </p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>