<footer class="footer">
    <div class="container footer-wrapper">
        <div class="title-wrapper">
            <p class="footer-subtitle">homemade ice cream made</p>
            <p class="footer-title">with passion</p>
        </div>
        <div class="footer-social">
            <ul class="footer-social__list">
                <li class="footer-social__item">
                    <a href="https://github.com/" target="_blank" class="footer-social__link">
                        <svg class="footer-social__icon" width="18.82" height="18.83">
                            <use href="../src/images/icons.svg#icon-github">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="https://web.telegram.org/" target="_blank" class="footer-social__link">
                        <svg class="footer-social__icon" width="19.2" height="14.94">
                            <use href="../src/images/icons.svg#icon-telegram">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="https://www.facebook.com/" target="_blank" class="footer-social__link">
                        <svg class="footer-social__icon" width="8.8" height="19.2">
                            <use href="../src/images/icons.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__contact">Feel free to contact
                <a href="tel:+610383766284" class="footer__contact__link">+61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
    <div class="footer-rights">
        <p class="rights-reserved">&copy; 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>