<div class="mergening-sections">
  <section class="gallery__section">
    <div class="container">
      <ul class="gallery">
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery-img1-mobile@1x.jpg 1x,
                ./images/gallery-img1-mobile@2x.jpg 2x
              "
              media="(max-width:480px)"
            />

            <source
              srcset="
                ./images/gallery-img1-full@1x.jpg 1x,
                ./images/gallery-img1-full@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />

            <source
              srcset="
                ./images/gallery-img1-tablet@1x.jpg 1x,
                ./images/gallery-img1-tablet@2x.jpg 2x
              "
              media="(min-width:481px)"
            />

            <img
              class="gallery__img"
              srcset="
                ./images/gallery-img1-full@1x.jpg 1x,
                ./images/gallery-img1-full@2x.jpg 2x
              "
              src="./images/gallery-img1-full@1x.jpg"
              alt="ice cream"
            />
          </picture>
        </li>
        <!-- <li class="gallery__item"></li>
    <li class="gallery__item"></li> -->
      </ul>
    </div>
  </section>

