<section class="section-hero">
  <div class="section-hero__container container">
    <div class="section-hero__wrapper">
      <h1 class="section-hero__title">
        ice cream made with
        <span class="section-hero__passion-span">passion</span>
      </h1>
      <div class="section-hero__links-wrapper">
        <a class="section-hero__btn button-with-border" href="#products"
          >Products</a
        >
        <a class="section-hero__link" href="#how-its-made">How it’s made?</a>
      </div>

      <div class="section-hero__photo-and-text-wrapper">
        <div class="section-hero__photo">
          <img
            class="section-hero__ice-cream-dish-img"
            srcset="
              ./images/hero_header/dish-with-ice-cream/dish-tablet.png      152w,
              ./images/hero_header/dish-with-ice-cream/dish-tablet-1@2x.png 304w,
              ./images/hero_header/dish-with-ice-cream/dish-desktop.png     225w,
              ./images/hero_header/dish-with-ice-cream/dish-desktop1@2x.png 450w
            "
            sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px"
            src="././images/hero_header/dish-with-ice-cream/dish-tablet.png"
            alt="Dish with IceCream"
          />
        </div>
        <div class="section-hero__text-and-arrow-wrapper">
          <p class="section-hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <!-- ARROW SVG -->
          <button class="section-hero__arrow-btn">
            <svg class="section-hero__arrow-svg">
              <use
                href="./images/hero_header/icons-sprite.svg#icon-arrow"
              ></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <aside class="section-hero__aside">
      <p class="section-hero__stats">
        <span class="section-hero__stats-number">16</span> <br />cafes
      </p>
      <p class="section-hero__stats">
        <span class="section-hero__stats-number">23</span> <br />food tracs
      </p>
    </aside>

    <!-- HERO IMAGE -->
    <div class="section-hero__ice-cone-wapper">
      <img
        class="section-hero__ice-cone-img"
        srcset="
          ./images/hero_header/ice-cone-mobile/ice-cream-mobile1.png    170w,
          ./images/hero_header/ice-cone-mobile/ice-cone-mobile@2x.png   340w,
          ./images/hero_header/ice-cone-tablet/ice-cone-tablet.png      270w,
          ./images/hero_header/ice-cone-tablet/ice-cone-tablet@2x.png   540w,
          ./images/hero_header/ice-cone-desktop/ice-cone-desktop.png    484w,
          ./images/hero_header/ice-cone-desktop/ice-cone-desktop@2x.png 968w
        "
        sizes="(min-width: 1200px) 484px, (min-width: 768px) 270px, (min-width: 320px) 170px"
        src="././images/hero_header/ice-cone-mobile/ice-cone-mobile@2x.png"
        alt="IceCream Cone with smiling faces"
      />
    </div>
  </div>
</section>
