<div class="mobile-menu" data-menu>
  <div class="mobile-menu__container container">
    <div class="mobile-menu__header">
      <a href="./index.html" class="mobile-menu__logo">
        <picture>
          <source
            srcset="
              ./images/tablet-icon-main.png    1x,
              ./images/tablet-icon-main@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/mobile-icon-main.png    1x,
              ./images/mobile-icon-main@2x.png 2x
            "
            media="(min-width: 480px)"
          />

          <img
            class="header__logo-icon"
            src="./images/mobile-icon-main.png"
            alt="іконка бренда"
          />
        </picture>
      </a>

      <button class="mobile-menu__btn-close" data-menu-close>
        <svg class="mobile-menu__icon-close" width="32" height="32">
          <use href="./images/icons.svg#icon-cross-mobile"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__links">
        <li class="mobile-menu__wrp">
          <a
            href="./index.html"
            class="mobile-menu__link mobile-menu__link_current"
            >Home</a
          >
        </li>
        <li class="mobile-menu__wrp">
          <a href="#made" class="mobile-menu__link">How it’s made?</a>
        </li>
        <li class="mobile-menu__wrp">
          <a href="#products" class="mobile-menu__link">Our products</a>
        </li>
        <li class="mobile-menu__wrp">
          <a href="#contact" class="mobile-menu__link">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      type="button"
      class="mobile-menu__inside-btn button"
      data-modal-open
    >
      Buy now
      <svg
        class="mobile-menu__inside-btn-icon"
        width="12"
        height="12"
        aria-label="Елемент кнопки, стрілочка вправо"
      >
        <use href="./images/icons.svg#icon-greater-sign2"></use>
      </svg>
    </button>
  </div>
</div>
