<section class="section-products">
  <div class="container">
    <label for="h1" class="h1-label"> 100% natural </label>
    <h1 class="section-products-h1">Products</h1>

    <ul class="product-list list">
      <li class="product-list__item product-1">
        <h2 class="product-name">ice cream</h2>
        <p class="product-description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <svg class="arrow-icon" width="40px" height="0px">
          <use href="./images/icons.svg#icon-arrow-default" class="icon"></use>
        </svg>
      </li>
      <li class="product-list__item product-2">
        <h2 class="product-name">ice coffee</h2>
        <p class="product-description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <svg class="arrow-icon" width="40px" height="0px">
          <use href="./images/icons.svg#icon-arrow-default" class="icon"></use>
        </svg>
      </li>
      <li class="product-list__item product-3">
        <h2 class="product-name">milkshakes</h2>
        <p class="product-description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <a href="#" class="link">
          <svg class="arrow-icon" width="40px" height="0px">
            <use
              href="./images/icons.svg#icon-arrow-default"
              class="icon"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
