<section class="section-products">
  <div class="container">
    <label class="h1-label"> 100% natural </label>
    <h1 class="section-products-h1">Products</h1>

    <ul class="product-list list">
      <li class="product-list__item product-1">
        <div>
          <h2 class="product-name">ice cream</h2>
          <p class="product-description">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button class="products-arrow-btn" prod-modal-open></button>
      </li>
      <li class="product-list__item product-2">
        <div>
          <h2 class="product-name">ice coffee</h2>
          <p class="product-description">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button class="products-arrow-btn" prod-modal-open></button>
      </li>
      <li class="product-list__item product-3">
        <div>
          <h2 class="product-name">milkshakes</h2>
          <p class="product-description">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button class="products-arrow-btn" prod-modal-open></button>
      </li>
    </ul>
  </div>
</section>
