// кнопка тільки з бордером //

.button-with-border {
  padding: 7px 10px;
  font-family: var(--button-font);
  font-size: 8px;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid var(--active);
  border-radius: 8px;
  color: #000;

  transition: color var(--transition-dur-and-func),
    border var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  &:hover {
    border: 2px solid var(--hover);
    cursor: url('./../images/cursor.png'), auto;
    box-shadow: 0 2px 15px 15px rgba(174, 198, 165, 0.5);
  }

  &:focus {
    border: 2px solid var(--hover);
    color: var(--focus);
    box-shadow: 0 2px 15px 15px rgba(174, 198, 165, 0.5);
  }

  &:disabled {
    border: 2px solid var(--disabled);
    color: #000;
  }
}

//  кнопка з бордером для 1200рх   //

@media screen and (min-width: 1200px) {
  .button-border {
    padding: 12px 34px;
    font-size: 14px;
    border-radius: 10px;
  }
}

//   Звичайна кнопка   //

.button {
  padding: 12px 34px;

  font-family: var(--button-font);
  font-size: 12px;
  font-weight: 600;
  background-color: var(--active);
  border: 0;
  border-radius: 8px;
  color: #000;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  &:hover {
    background-color: var(--hover);
    cursor: url('./../images/cursor.png'), auto;
    box-shadow: 0px 2px 15px 15px rgba(174, 198, 165, 0.5);
  }

  &:focus {
    background-color: var(--hover);
    color: var(--focus);
    box-shadow: 0 2px 15px 15px rgba(174, 198, 165, 0.5);
  }

  &:disabled {
    background-color: var(--disabled);
    color: #000;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    font-size: 14px;
  }
}

//   Кнопка тільки з текстом  //

.button-text-only {
  font-family: var(--button-font);
  font-size: 8px;
  font-weight: 600;
  text-decoration: underline;
  background-color: transparent;
  color: var(--active);
  transition: color var(--transition-dur-and-func);

  &:hover {
    color: var(--hover);
  }

  &:focus {
    color: var(--focus);
  }

  &:disabled {
    color: var(--disabled);
  }
}

//   Кнопка тільки з текстом  для 1200рх  //

@media screen and (min-width: 1200px) {
  .button-transparent {
    font-size: 14px;
  }
}
