.contacts {
  background-color: var(--background-color);

  padding-bottom: 40px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.contacts_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.contacts__thumb {
  background-color: var(--text-light);
  border-radius: 24px;
  box-shadow: 0 8 30 rgba(212, 20, 67, 0.1);
  padding: 40px 32px;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contacts__pre-title {
  background-color: var(--accent-2);
  color: var(--text-dark);
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;

  border-radius: 4px;
  line-height: 1.86;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.contacts__title {
  color: var(--text-dark);

  line-height: 1.86;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.contacts__aft-title {
  color: var(--accent-3-secondary);

  line-height: 1.83;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.constacts__line {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts__date {
  color: var(--text-dark);

  line-height: 1.83;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
}

.contacts__time {
  color: var(--disabled);

  line-height: 1.86;
  text-align: left;
  font-weight: 500;
  font-size: 12px;

  &:not(:last-child){
    margin-bottom: 8px;
  }
}

.contacts__adr {
  font-style: normal;
}

.contacts__link {
  color: var(--text-dark);

  line-height: 1.23;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
}

.btn__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.btn__contacts {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 196px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.05;
  border-radius: 10px;
  cursor: pointer;
}

.button.btn__contacts {
  border: none;
}

.btn__contacts--arrow-icon {
  margin-left: 6px;
}

// ---------------------TABLET STYLES------------------------

@media screen and (min-width: 768px) {
  .contacts_list {
    flex-direction: row;
    gap: 16px;
  }

  .contacts__thumb {
    padding: 40px 24px;
    width: calc((100% - 32px) / 3);
    margin: 0;
  }

  .contacts__pre-title {
    font-size: 16px;
  }

  .contacts__aft-title,
  .contacts__title,
  .contacts__time,
  .contacts__date {
    font-size: 14px;
  }

  .btn__contacts-list {
    flex-direction: row;
    justify-content: center;
  }
 
}