.mergening-sections {
    width: 100%;
    background:
        url(./../images/bg-icecream-320@1x.jpg) 0px 150px no-repeat,
        linear-gradient(to top, var(--background-color) 75%, var(--text-light) 75%, var(--text-light) 93%, var(--background-color) 75%);
}

.gallery__section {
    padding-top: 20px;
}

.gallery {
    position: relative;
}

.gallery__item {
    opacity: 0;

    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);


    &:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &.active {
        opacity: 1;
    }
}



.gallery__img {
    display: block;
    width: 110%;
    overflow: hidden;
    border-radius: 7.41px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .mergening-sections {
        background: url(./../images/bg-icecream-320@2x.jpg) 0px 150px no-repeat,
            linear-gradient(to top, var(--background-color) 75%, var(--text-light) 75%, var(--text-light) 93%, var(--background-color) 75%);
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .mergening-sections {
        background: url(./../images/bg-icecream-768@1x.jpg) 0px 184px no-repeat,
            linear-gradient(to top, var(--background-color) 100%, var(--background-color) 100%);

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .mergening-sections {
            background: url(./../images/bg-icecream-768@2x.jpg) 0px 184px no-repeat,
                linear-gradient(to top, var(--background-color) 100%, var(--background-color) 100%);

        }
    }

    .gallery__img {
        border-radius: 18px;
    }
}

// 1200px//

@media screen and (min-width: 769px) {
    .mergening-sections {
        background: url(./../images/bg-icecream-1200@1x.jpg) 0px 137px no-repeat,
            linear-gradient(to top, var(--background-color) 100%, var(--background-color) 100%);

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .mergening-sections {
            background: url(./../images/bg-icecream-1200@2x.jpg) 0px 137px no-repeat,
                linear-gradient(to top, var(--background-color) 100%, var(--background-color) 100%);
        }
    }

    .gallery__section {
        padding-top: 43px;
    }

    .gallery__img {
        border-radius: 24px;
    }
}

// >1200px
@media screen and (min-width: 769px) {
    .mergening-sections {
        background-size: cover;
    }
}