.mergening-sections {
    width: 100%;
    background:
        url(./../images/bg-icecream-320@1x.jpg) 0px 150px no-repeat,
        linear-gradient(to top, var(--background-color) 75%, var(--text-light) 75%, var(--text-light) 93%, var(--background-color) 75%);
    background-size: cover;
}

.gallery__section {
    padding-top: 20px;
}

.gallery{
    position: relative;
}

.gallery__item {
  
  
    &:first-child {
        animation: fade1 12s linear infinite;
    }

    &:nth-child(2){
        animation: fade2 12s linear infinite;
        position: absolute;
            width: 100%;
            left: 0;
            top: 0;
    }

    &:last-child {
        animation: fade3 12s linear infinite;
        position: absolute;
            width: 100%;
            left: 0;
            top: 0;
    }
}

@keyframes fade1 {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes fade2 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes fade3 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes zoom-out {

    100% {
        width: 100%;
    }
}


.gallery__img {
    display: block;
    border-radius: 7.41px;
    overflow: hidden;

    width: 110%;
    animation: zoom-out 12s linear infinite;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .mergening-sections {
        background: url(./../images/bg-icecream-320@2x.jpg) 0px 150px no-repeat,
            linear-gradient(to top, var(--background-color) 75%, var(--text-light) 75%, var(--text-light) 93%, var(--background-color) 75%);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .mergening-sections {

        background: url(./../images/bg-icecream-768@1x.jpg) 0px 184px no-repeat,
            linear-gradient(to top, var(--background-color) 100%, var(--background-color) 100%);

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .mergening-sections {

            background: url(./../images/bg-icecream-768@2x.jpg) 0px 184px no-repeat,
                linear-gradient(to top, var(--background-color) 100%, var(--background-color) 100%);

        }
    }
}

// 1200px//

@media screen and (min-width: 769px) {
    .mergening-sections {
        background: url(./../images/bg-icecream-1200@1x.jpg) 0px 137px no-repeat,
            linear-gradient(to top, var(--background-color) 100%, var(--background-color) 100%);
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .mergening-sections {
            background: url(./../images/bg-icecream-1200@2x.jpg) 0px 137px no-repeat,
                linear-gradient(to top, var(--background-color) 100%, var(--background-color) 100%);
        }
    }

    .gallery__section {
        padding-top: 43px;
    }
}